In [1]:
from pykrx import stock
import pandas as pd

In [4]:
df = stock.get_market_ohlcv_by_ticker(pd.Timestamp.now())

,종목명,시가,고가,저가,종가,거래량,거래대금,시가총액,시총비중,상장주식수
종목코드,,,,,,,,,,
000020,동화약품,16850,18150,15900,17500,850411,14700491850,488800725000,0.029999,27931470
000040,KR모터스,944,970,921,923,1369656,1285255024,84603119614,0.000000,91661018
000050,경방,10700,10950,10650,10900,18765,202569800,298826443000,0.020004,27415270
000060,메리츠화재,14950,15150,14500,14650,328700,4872049150,1665412000000,0.090027,113680000
000070,삼양홀딩스,61200,62300,61200,62000,8836,547195200,530984802000,0.029999,8564271
...,...,...,...,...,...,...,...,...,...,...
950160,코오롱티슈진,0,0,0,8010,0,0,489551575500,0.029999,61117550
950170,JTC,4215,4290,4145,4200,48656,204350725,147023171400,0.010002,35005517
950180,SNK,12400,12600,12100,12500,37002,455644450,263272500000,0.010002,21061800
950190,미투젠,26700,27250,26450,26750,30205,810913650,344796586000,0.020004,12889592
950200,소마젠(Reg.S),11350,11750,11100,11500,141488,1618719700,217655014500,0.010002,18926523

In [3]:
df = pd.read_csv("../../resources/ohlcv_p1p2p3_nasdq/000020.csv",parse_dates=['date'],index_col=[0])
df

,date,open,high,low,close,volume,pattern1,pattern2,pattern3,nasdaq
0,2012-01-02,4070,4100,4060,4085,25451,K00,NaN,NaN,NaN
1,2012-01-03,4100,4160,4100,4130,45291,P03,K00P03,NaN,NaN
2,2012-01-04,4135,4160,4125,4150,42911,K00,P00K00,P10K00,U04
3,2012-01-05,4150,4290,4110,4270,85140,P05,K00P05,P10P05,T01
4,2012-01-06,4300,4325,4220,4240,45535,M05,P00M05,P10M05,U04
...,...,...,...,...,...,...,...,...,...,...
2175,2020-11-04,18750,18750,17950,18250,285222,M01,P00M01,P10M01,U04
2176,2020-11-05,18300,18900,18250,18750,273054,P05,M00P05,S03P05,U04
2177,2020-11-06,19000,19250,18000,18300,379887,M05,P00M05,S01M05,U04
2178,2020-11-09,18550,19100,18300,18900,311219,P05,M00P05,S07P05,U01
2179,2020-11-10,-1,-1,-1,-1,-1,P10,P00P10,S01P10,NaN